body {
    margin: 0px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 900px;
}

.tile {
    box-sizing: border-box;
    border: 1px solid orangered;
    background-color: darkorange;
}